.header {
  padding: 50px 100px;
  text-align: center;
  background: #999;
  font-size: 32px;
  font-family: Sans-Serif;
  color: #8f0c49; }

.main {
  background: #90ee95;
  padding: 100px;
  font-size: 38px;
  color: #fff;
  font-family: Sans-Serif;
  text-align: center;
  color: #8f0c49; }

.footer {
  background: SlateGrey;
  padding: 30px;
  font-size: 32px;
  color: #8f0c49;
  font-family: Sans-Serif;
  text-align: center; }
